@charset "utf-8";
@import url("css/style.css");
@import url("css/background.css");
/* CSS Document */

body {background: url("bg1.png");
	background-size: cover;
	font-family:Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, "sans-serif";
	border-style: groove;
	


}

.jumbotron {background: url("images/ContainerBackground2.png");

}

#speakerRow{background: url("3.png");
	padding-top: 20px;
}

#AboutWC {background: url("4.png");
	


}

#speakerTop {background: url("images/ContainerBackground5.png")

}

#SpeakerPara {font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 20px;

}

#Learn {background: url("images/ContainerBackground6.png");

}

#speaker{background:url("images/Containerbackground4.png");


}

#schedule{background:url("images/Containerbackground4.png");

}

#navbarSupportedContent{background:url("images/ContainerBackground6.png");
	font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, "sans-serif";
	


}
